{% extends 'base.html' %}

{% block title %} Export as XLS {% endblock %}

{% block content %}

    <h3>Balance Sheet</h3>
    <form action="{% url 'balance_by_class' %}">
        Fiscal Year:
        <select id="fiscal-year" name="fiscal_year">
            {% for fiscal_year in fiscal_years %}
                <option value="{{ fiscal_year.id }}">
                    {{ fiscal_year.name }}
                </option>
            {% endfor %}
        </select>
        Class:
        <select id="seed-class" name="seed_class">
            {% for seed_class in seed_classes %}
                <option value="{{ seed_class.id }}">
                    {{ seed_class.name_in_english }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go!" class="tiny button">

    </form>
    <form action="{% url 'balance_by_region' %}">
        Fiscal Year:
        <select id="fiscal-year1" name="fiscal_year">
            {% for fiscal_year in fiscal_years %}
                <option value="{{ fiscal_year.id }}">
                    {{ fiscal_year.name }}
                </option>
            {% endfor %}
        </select>
        Region:
        <select id="region" name="region">
            {% for region in regions %}
                <option value="{{ region.id }}">
                    {{ region.name }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go!" class="tiny button">

    </form>

    <h3>Source Data</h3>

    <form action="{% url 'export_source_data' %}">
        Fiscal Year:
        <select id="fiscal-year2" name="fiscal_year">
            {% for fiscal_year in fiscal_years %}
                <option value="{{ fiscal_year.id }}">
                    {{ fiscal_year.name }}
                </option>
            {% endfor %}
        </select>
        Crop:
        <select id="crop" name="crop">
            {% for crop in crops %}
                <option value="{{ crop.id }}">
                    {{ crop.name_in_english }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Go!" class="tiny button">

    </form>

    <h3>Regional Data</h3>

    <form action="{% url 'export_regional' %}">
        Fiscal Year:
        <select id="fiscal-year3" name="fiscal_year">
            {% for fiscal_year in fiscal_years %}
                <option value="{{ fiscal_year.id }}">
                    {{ fiscal_year.name }}
                </option>
            {% endfor %}
        </select>
        {#        Crop:#}
        {#        <select id="crop" name="crop">#}
        {#            {% for crop in crops %}#}
        {#                <option value="{{ crop.id }}">#}
        {#                    {{ crop.name_in_english }}#}
        {#                </option>#}
        {#            {% endfor %}#}
        {#        </select>#}
        <input type="submit" value="Go!" class="tiny button">

    </form>


{% endblock %}