<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" media="print">

    <script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>

    {% block extrahead %}{% endblock %}

</head>
<body>

<!-- Nav Bar -->

<header class="row">

    <h1 class="large-5 column"><a href="{% url 'home' %}">National Seed Balance Sheet</a></h1>

    <nav class="nav-bar large-7 column">
        <ul class="inline-list right">
            {#            <li><a href="#" class="small secondary button">Link 1</a></li>#}
            {#            <li><a href="#" class="small secondary button">Link 2</a></li>#}
            {#            <li><a href="#" class="small secondary button">Link 3</a></li>#}
            {% if user.is_superuser %}
                <li><a href="/admin" class="small secondary button">Control Panel</a></li>
            {% endif %}

            {% if user.is_authenticated %}
                <li><a href="{% url 'export_index' %}" class="small secondary button">Export</a></li>
                <li><a href="{% url 'backup_index' %}" class="small secondary button">Backup</a></li>
                <li><a href="{% url 'logout' %}" class="small secondary button">Logout</a></li>

            {% else %}
                <li><a href="{% url 'login' %}" class="small secondary button">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <hr>
</header>


<!-- End Nav -->


<!-- Main Page Content and Sidebar -->
<div class="row">

    <div class="large-12 column" role="content">

        <div id="alert_placeholder"></div>
        {% block content %}
        {% endblock %}
    </div>
    <!-- End Main Content -->
</div>
<!-- End Main Content and Sidebar -->

<footer class="center row">
    <hr>
    <p>&copy; Copyright Seed Quality Control Center</p>
</footer>

<script src="{{ STATIC_URL }}js/foundation.min.js"></script>
<!-- End Footer -->
</body>
</html>
