{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block extrahead %}
    <script src="{{ STATIC_URL }}js/dashboard.js"></script>
{% endblock %}

{% block content %}
    <div class="dashboard">
        <h1>Balance Sheet</h1>

        <form method="post" id="sheet-form">
            {% csrf_token %}
            <br>

            <div class="row">
                <span class="large-3 small-3 column">Fiscal Year:</span>
                <span class="large-3 small-3 column">Region:</span>
                <span class="large-3 small-3 column">Crop:</span>
                <span class="large-3 small-3 column">Class:</span>
            </div>

            <br>

            <div class="row">
        <span class="large-3 small-3 column">
            <select id="fiscal-year" name="fiscal_year">
                {% for fiscal_year in fiscal_years %}
                    <option value="{{ fiscal_year.id }}">
                        {{ fiscal_year.name }}
                    </option>
                {% endfor %}
            </select>
        </span>

        <span class="large-3 small-3 column">
            <select id="region" name="region">
                {% for region in regions %}
                    <option value="{{ region.id }}">
                        {{ region.name }}
                    </option>
                {% endfor %}
            </select>
        </span>

        <span class="large-3 small-3 column">
                <select id="crop" name="crop">
                    {% for crop in crops %}
                        <option value="{{ crop.id }}">
                            {{ crop.name_in_english }}
                        </option>
                    {% endfor %}
                </select>
        </span>

        <span class="large-3 small-3 column">
            <select id="seed-class" name="seed_class">
                {% for seed_class in seed_classes %}
                    <option value="{{ seed_class.id }}">
                        {{ seed_class.name_in_english }}
                    </option>
                {% endfor %}
            </select>
        </span>
            </div>

            <div class="center"><input type="submit" value="Go" class="tiny button"></div>

        </form>

        <h1>Source Data</h1>

        <form method="post" id="source-data-form">
            {% csrf_token %}
            <br>

            <div class="row">
                <span class="large-3 small-3 column">Fiscal Year:</span>
                <span class="large-3 small-3 column">Source:</span>
                <span class="large-3 small-3 column">Crop:</span>
                <span class="large-3 small-3 column">Class:</span>
            </div>

            <br>

            <div class="row">
        <span class="large-3 small-3 column">
            <select id="fiscal-year1" name="fiscal_year">
                {% for fiscal_year in fiscal_years %}
                    <option value="{{ fiscal_year.id }}">
                        {{ fiscal_year.name }}
                    </option>
                {% endfor %}
            </select>
        </span>

        <span class="large-3 small-3 column">
            <select id="source" name="source">
                {% for source in sources %}
                    <option value="{{ source.id }}">
                        {{ source.name }}
                    </option>
                {% endfor %}
            </select>
        </span>

        <span class="large-3 small-3 column">
                <select id="crop1" name="crop">
                    {% for crop in crops %}
                        <option value="{{ crop.id }}">
                            {{ crop.name_in_english }}
                        </option>
                    {% endfor %}
                </select>
        </span>

        <span class="large-3 small-3 column">
            <select id="seed-class1" name="seed_class">
                {% for seed_class in seed_classes %}
                    <option value="{{ seed_class.id }}">
                        {{ seed_class.name_in_english }}
                    </option>
                {% endfor %}
            </select>
        </span>
            </div>

            <div class="center"><input type="submit" value="Go" class="tiny button"></div>

        </form>
    </div>
{% endblock %}