{% extends "base.html" %}

{% block title %}Source Sheet{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <li><a href="{% url "list_payroll_entries" %}">Payroll Entries</a></li>#}
    {#    <span class="divider"><i class="icon-angle-right"></i></span>#}
    {#    <li><a href="{% url "create_payroll_entry" %}">{{ scenario }} Payroll Entry</a></li>#}
{% endblock %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}css/selectize.default.css" rel="stylesheet" type="text/css"/>
    <script src="{{ STATIC_URL }}js/vendor/selectize.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/knockout.js"></script>
    <script src="{{ STATIC_URL }}js/ko_lib.js"></script>
    <script src="{{ STATIC_URL }}js/source_sheet.js"></script>
    <script>
        {% load filters %}
        ko_data = {{sheet|jsonify}};
        ko_varieties = {{ varieties|jsonify }};
    </script>
{% endblock %}



{% block content %}

    Fiscal Year: {{ data.fiscal_year.name }} | Source: {{ data.source }} | Seed: {{ data.crop }} | Class:
    {{ data.seed_class }}
    <br><br>

    <table>

        <thead>
        <tr>
        <th>S.N.</th>
        <th>DADO/Company</th>
        <!-- ko foreach:varieties -->
        <th>
            <div class="box-rotate" data-bind="text: name"></div>
        </th>
        <!-- /ko -->
        <th>Total</th>
        <th></th>
        </thead>

        <tbody>
        <tr>
            <td colspan="2">Production(kg)</td>
            <!-- ko foreach: $root.varieties -->
            <td>
                <input type="text" data-bind="value: quantity">
            </td>
            <!-- /ko -->
            <td colspan="2" data-bind="text: production_total()"></td>
        </tr>
        <!-- ko foreach: rows -->
        <tr>
            <td data-bind="text: $index()+1"></td>
            <td>

                {#                <select data-bind="options: ko_companies, optionsText: 'name', value: company, optionsCaption: 'Choose...', optionsValue: 'id', lookupKey: 'id'"></select>#}
                <select data-bind="selectize: $root.companies, value: company_id, object: company"></select>
            </td>
            <!-- ko foreach: $root.varieties -->
            <td>
                <input type="text" data-bind="value: $parent.values()[$index()]">
            </td>
            <!-- /ko -->
            <td data-bind="text: row_total()"></td>
            <td>
                <button data-bind="click: $parent.remove_row" class="tiny secondary button">x</button>
                {#                <input data-bind="value: total">#}
            </td>
        </tr>
        <!-- /ko -->
        <tr>
            <th colspan="2">Total</th>
            <!-- ko foreach: $root.varieties -->
            <td data-bind="text: $root.column_total($index())"></td>
            <!-- /ko -->

            <td colspan="2" data-bind="text: $root.grand_total()"></td>
        </tr>
        <tr>
            <th colspan="2">Surplus</th>
            <!-- ko foreach: $root.varieties -->
            <td data-bind="text: $root.surplus($index())"></td>
            <!-- /ko -->

            <td colspan="2" data-bind="text: $root.surplus_total()"></td>
        </tr>
        </tbody>

    </table>

    <button class="tiny" data-bind="click: add_row">Add New Row</button>

    <button class="tiny" data-bind="click: save">Save</button>

{% endblock %}