{% extends "base.html" %}

{% block title %}Balance Sheet{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {#    <li><a href="{% url "list_payroll_entries" %}">Payroll Entries</a></li>#}
    {#    <span class="divider"><i class="icon-angle-right"></i></span>#}
    {#    <li><a href="{% url "create_payroll_entry" %}">{{ scenario }} Payroll Entry</a></li>#}
{% endblock %}

{% block extrahead %}
    {#    <link href="{{ STATIC_URL }}css/selectize.default.css" rel="stylesheet" type="text/css"/>#}
    {#    <script src="{{ STATIC_URL }}js/vendor/selectize.js"></script>#}
    <script src="{{ STATIC_URL }}js/vendor/knockout.js"></script>
    <script src="{{ STATIC_URL }}js/ko_lib.js"></script>
    <script src="{{ STATIC_URL }}js/source_data.js"></script>
    <script>
        {% load filters %}
        ko_data = {{data|jsonify}};
    </script>
{% endblock %}

{% block content %}
    {#    <div data-bind="text: ko.toJSON($root.varieties)"></div>#}

    <form>
        {% csrf_token %}

        <div data-bind="foreach: varieties()">
            <p>
                <span data-bind="text: name"></span>
                <input type="text" data-bind="value: quantity">
            </p>
        </div>
        <button class="tiny" data-bind="click: save">Save</button>


    </form>

{% endblock %}